* {
	font-family: "Andale Mono";
	background-color: #0a0a0aff;
}
a:link {
	color: #eee3c1ff;
	font: 16px;
	font-weight: bold;
}a:visited {
	color: #2f71e8ff;
	font: 16px;
}.charterror {
	color: #ff0000ff;
	font: 16px;
}
.chartname  {
	color: #b7d0f1ff;
	font-weight: bold;
	font: 16px;
}
.chartlink  {
	color: #b7d0f1ff;
	font: 16px;
}
.chartnumall  {
	color: #ffffffff;
	font-weight: bold;
	font: 16px;
}
.chartnumbad  {
	color: #ff0000ff;
	font-weight: bold;
	font: 16px;
}
.chartnumgood  {
	color: #00ff00ff;
	font-weight: bold;
	font: 16px;
}
.header {
	color: #ffffffff;
	font: 30px;
}
.summarytext {
	font: 16px;
	color: #d3d3d3ff;
}
